.panel{
    background: #ddd;
    /*box-shadow: 0px 0px 3px 1px rgb(96, 223, 0);*/
    border-radius: 6px;
}
.panel_background{
    margin-bottom: 0;
}
.small-12.large-3.columns
{
  height: 45px;
  background-color: #333333;
}
img
{
  display: block;
  margin: 0 auto;
}
.no-padding
{
  padding: 0 !important;
}
li form {
  min-width: 200px;
}
#search-results{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    min-width: 200px;
    max-width: 400px;
    top: 45px;
    z-index: 1;
}
.logo{
    background: url('../img/rol-45.png');
    background-repeat: no-repeat;
    background-position: left top;
    width: 85px;
    padding-left: 15px;
}
.clickable{
    height: 45px;
    width: 85px;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
}
.search{
    padding: 1px 5px 1px 5px;
}
tr.hover {
   cursor: pointer;
   /* whatever other hover styles you want */
   background-color: #111;
}
table thead{
    background: #222;
}
table{
    background: #ececec;
    border: solid 1px #ddd;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.50);
    border-collapse: collapse;
    border-style: hidden;
}
table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: #eee;
}
table tr th, table tr td{
    color: #000;
}
table thead tr th, table thead tr td {
    color: #111;
    background: #ececec;
}
table th, td {
    border: 1px solid #999;
}
table th {
    border: 1px solid #999;
}

body {
    color: rgb(200, 200, 200);
    background: #eee;
}
.contain-to-grid {
    background: #333333;
}
.alert-box.info {
  border-color: #9F7900;
  color: #FFF;
  background-color: #544000;
}
label{
    color: #000;
}
a {
    color: #daa520;
}
a:hover, a:focus{
    color: #FFAE00;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
    background: #daa520;
    -webkit-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.50);
    -moz-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.50);
    box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.50);

}
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
    background-color: #cd9000;
    -webkit-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.35);
    box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.35);
}
button, .button {
background: #c38500;
background: -moz-linear-gradient(top, #c38500 32%, #c38100 47%, #c27400 100%);
background: -webkit-gradient(left top, left bottom, color-stop(32%, #c38500), color-stop(47%, #c38100), color-stop(100%, #c27400));
background: -webkit-linear-gradient(top, #c38500 32%, #c38100 47%, #c27400 100%);
background: -o-linear-gradient(top, #c38500 32%, #c38100 47%, #c27400 100%);
background: -ms-linear-gradient(top, #c38500 32%, #c38100 47%, #c27400 100%);
background: linear-gradient(to bottom, #c38500 32%, #c38100 47%, #c27400 100%);
    -webkit-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.47);
    -moz-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.47);
    box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.47);

}
button:hover, button:focus, .button:hover, .button:focus {
    background-color: #cd9000;
    -webkit-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.37);
    -moz-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.37);
    box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.37);
}
.button.info {
background: #63b6d9;
background: -moz-linear-gradient(top, #63b6d9 0%, #318db4 50%, #318db4 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #63b6d9), color-stop(50%, #318db4), color-stop(100%, #318db4));
background: -webkit-linear-gradient(top, #63b6d9 0%, #318db4 50%, #318db4 100%);
background: -o-linear-gradient(top, #63b6d9 0%, #318db4 50%, #318db4 100%);
background: -ms-linear-gradient(top, #63b6d9 0%, #318db4 50%, #318db4 100%);
background: linear-gradient(to bottom, #63b6d9 0%, #318db4 50%, #318db4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6d9', endColorstr='#318db4', GradientType=0 );
    border-color: #61b6d9;
    color: white;
    -webkit-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.47);
    -moz-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.47);
    box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.47);
}
.button.info:hover, .button.info:focus{
    -webkit-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.37);
    -moz-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.37);
    box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.37);
}
.button.success {
background: #5cb800;
background: -moz-linear-gradient(top, #5cb800 0%, #149900 50%, #149900 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #5cb800), color-stop(50%, #149900), color-stop(100%, #149900));
background: -webkit-linear-gradient(top, #5cb800 0%, #149900 50%, #149900 100%);
background: -o-linear-gradient(top, #5cb800 0%, #149900 50%, #149900 100%);
background: -ms-linear-gradient(top, #5cb800 0%, #149900 50%, #149900 100%);
background: linear-gradient(to bottom, #5cb800 0%, #149900 50%, #149900 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cb800', endColorstr='#149900', GradientType=0 );
    border-color: #368a55;
    color: white;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.21) inset;
}
.button.success:hover, .button.success:focus{
    -webkit-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.37);
    -moz-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.37);
    box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.37);
}
button.alert, .button.alert {
background: rgba(255,65,36,1);
background: -moz-linear-gradient(top, rgba(255,65,36,1) 0%, rgba(214,53,28,1) 50%, rgba(189,46,27,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,65,36,1)), color-stop(50%, rgba(214,53,28,1)), color-stop(100%, rgba(189,46,27,1)));
background: -webkit-linear-gradient(top, rgba(255,65,36,1) 0%, rgba(214,53,28,1) 50%, rgba(189,46,27,1) 100%);
background: -o-linear-gradient(top, rgba(255,65,36,1) 0%, rgba(214,53,28,1) 50%, rgba(189,46,27,1) 100%);
background: -ms-linear-gradient(top, rgba(255,65,36,1) 0%, rgba(214,53,28,1) 50%, rgba(189,46,27,1) 100%);
background: linear-gradient(to bottom, rgba(255,65,36,1) 0%, rgba(214,53,28,1) 50%, rgba(189,46,27,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4124', endColorstr='#bd2e1b', GradientType=0 );
    color: white;
    border-color: #CF2A0E;
}
.nav_location{
    margin: 13px;
}
.nav_location a{
    color:#fff;
    background-color: #333;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.50);
}
.nav_location a:hover{
    background-color: #ddd;
    color:#333;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #ddd;
    color:#333;
    box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.25);
}
.top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0 15px;
    line-height: 45px;
    background: #333333;
}
.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
    background-color: #ddd;
    background: #ddd;
    color:#333;
    box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.25);
}
.dropdown{
    box-shadow: 0px 0px 11px #000;
}
.button.small {
    padding-top: 1rem;
}
table input[type="text"], table input[type="password"], table input[type="date"],
table input[type="datetime"], table input[type="datetime-local"], table input[type="month"],
table input[type="week"], table input[type="email"], table input[type="number"],
table input[type="search"], table input[type="tel"], table input[type="time"],
table input[type="url"], table input[type="color"], table textarea {
    margin: 0em;
    color: #fff;
    background-color: #333;
}
table input[type="file"], table input[type="checkbox"], table input[type="radio"], table select {
    margin: 0em;
    color: #fff;
    background-color: #292929;
}
input[type="text"], input[type="password"], input[type="date"],
input[type="datetime"], input[type="datetime-local"], input[type="month"],
input[type="week"], input[type="email"], input[type="number"],
input[type="search"], input[type="tel"], input[type="time"],
input[type="url"], input[type="color"], textarea {
    color: #111;
    background-color: #eee;
}
input[type="file"], input[type="checkbox"], input[type="radio"], select {
    color: #111;
    background-color: #eee;
}
input[type="text"]:focus, input[type="password"]:focus,
input[type="date"]:focus, input[type="datetime"]:focus,
input[type="datetime-local"]:focus, input[type="month"]:focus,
input[type="week"]:focus, input[type="email"]:focus,
input[type="number"]:focus, input[type="search"]:focus,
input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus,
input[type="color"]:focus, textarea:focus {
    color: #111;
    background-color: #eee;
}
select:hover {
    color: #fff;
    background-color: #333;
}
.side-nav li a:not(.button):hover, .side-nav li a:not(.button):focus {
    background: rgba(0, 0, 0, 0.1);
    color: #FFAE00;
}
.side-nav li a:not(.button) {
    display: block;
    color: #daa520;
    margin: 0;
    padding: 0.4375rem 0.875rem;
}
.panel h1{
    color: #333;
}
.panel h2{
    color: #222;
}
.panel h3{
    color: #111;
}
h1{
    color: #555;
}
h2{
    color: #333;
}
h3{
    color: #222;
}
 h4, h5, h6{
    color: #000;
}
.panel, .panel h4, .panel h5, .panel h6, .panel li, .panel dl {
    color: #000;
    border: none;
}
.panel p{
    color: #FFFFFF;
    margin-bottom:0;
}
.small-text{
    font-size:13px;
}
.panel.callout {
    border: solid 1px #222;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: #333;
    color: #eee;
}
ul.stack.button-group {
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
}
.side-nav {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
hr {
    border: solid #555;
    border-width: 1px 0 0;
    clear: both;
    margin: 0 0 1.1875rem;
    height: 0;
}
.tooltip{
    background: #444;
}
.tooltip > .nub{
    border-color: transparent transparent #444 transparent;
}
.alert-box.alert {
  margin-bottom: 15px;
  background-color: #541600;
  border-color: #9f2a00;
  color: #FFF;
}
.alert-box.success {
  background-color: #005416;
  border-color: #009f2a;
  color: #FFF;
  margin-bottom: 15px;
}
.panel.callout a:not(.button) {
    color: #000;
}

.page_info{
    padding: 0;
    margin-bottom: 0px;
    color: #eee;
}
.has-tip{
    border-bottom: none;
    cursor: help;
    font-weight: bold;
    color: #fff;
}
.has-tip:hover, .has-tip:focus {
    color: #cd9000;
    border-bottom: none;
}
.has-tip > :last-child {
    margin-bottom: 0;
}
.accordion .accordion-navigation.active > a, .accordion dd.active > a {
    background-color: #ccc;
    color: #000;
}
.accordion .accordion-navigation > a, .accordion dd > a {
    background: #292929;
    color: #fff;
    -webkit-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.25);
    box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.25);
}
.accordion .accordion-navigation > a:hover, .accordion dd > a:hover {
    background-color: #ddd;
    color: #333;
    box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.25);
}
.accordion .accordion-navigation > .content, .accordion dd > .content {
    display: none;
    padding: 0.9375rem;
}
.accordion .accordion-navigation > .content.active, .accordion dd > .content.active {
    display: block;
    background: #292929;
}
ul.pagination li.current a, ul.pagination li.current button {
    background: #292929;
    -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.75);
}
ul.pagination li.current a:hover, ul.pagination li.current a:focus, ul.pagination li.current button:hover, ul.pagination li.current button:focus {
    background: #292929;
}
.pagination-right {
    text-align: right;
}
ul.pagination li.current a, ul.pagination li.current button {
    color: white;
    font-weight: normal;
    cursor: default;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"],
input[type="time"], input[type="url"], input[type="color"],
textarea {
    border-color: #777;
}
select {
    border-color: #777;
}
td > p{
    margin-bottom: 0;
}
select:disabled {
    background-color: #444;
    cursor: default;
}
.panel_review{
    background-color: #111;
}
.panel_comments{
    background-color: #333;
}
.panel_footer{
    margin-bottom: -1.5rem;
}
.ico_footer{
    margin-right: -1.375rem;
}
.hr_dark {
    border: solid #333;
    border-width: 1px 0 0;
}
.panel_no_padding{
    padding-bottom: 0 !important;
}
footer{
    padding-top: 15px;
    border-top: 1px solid #444;
    box-shadow: 0px 3px 6px -3px #444 inset;
}
.content{
    min-height: 100%;
}
.footer_button{
    line-height: 7px;
    border-radius: 3px;
    box-shadow: initial;
    font-weight: bold;
    margin-bottom: 0;
    padding: 0.35rem 0.60rem;
}
.twitter_button{
    font: bold 0.6875rem "Helvetica Neue",Arial,sans-serif;
    color: #333;
    border: 1px solid #CCC;
    background-color: #EEE;
    background-image: linear-gradient(#FFF, #DEDEDE);
}
.feedback_button{
    font: bold 0.6875rem "Helvetica Neue",Arial,sans-serif;
    color: #fff;
    border: 1px solid #c38500;
    background: #c38500;
background: -moz-linear-gradient(top, #c38500 32%, #c38100 47%, #c27400 100%);
background: -webkit-gradient(left top, left bottom, color-stop(32%, #c38500), color-stop(47%, #c38100), color-stop(100%, #c27400));
background: -webkit-linear-gradient(top, #c38500 32%, #c38100 47%, #c27400 100%);
background: -o-linear-gradient(top, #c38500 32%, #c38100 47%, #c27400 100%);
background: -ms-linear-gradient(top, #c38500 32%, #c38100 47%, #c27400 100%);
background: linear-gradient(to bottom, #c38500 32%, #c38100 47%, #c27400 100%);
}
.feedback_button:hover, .feedback_button:active , .feedback_button:focus {
    color: #fff;
}
.twitter_button:hover, .twitter_button:active , .twitter_button:focus {
    color: #333;
}
.twitter_img{
    color: #4099FF;
    font-size: large;
    float: left;
    margin: -3px 7px -15px 0;
}
.twitter_label{
    padding: 0px 0px 10px;
}
.color_success{
background: rgba(92,184,0,1);
background: -moz-linear-gradient(top, rgba(92,184,0,1) 0%, rgba(20,153,0,1) 50%, rgba(20,153,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(92,184,0,1)), color-stop(50%, rgba(20,153,0,1)), color-stop(100%, rgba(20,153,0,1)));
background: -webkit-linear-gradient(top, rgba(92,184,0,1) 0%, rgba(20,153,0,1) 50%, rgba(20,153,0,1) 100%);

}
.color_normal{
background: #b88700;
background: -moz-linear-gradient(top, #b88700 0%, #997a00 50%, #997a00 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #b88700), color-stop(50%, #997a00), color-stop(100%, #997a00));
background: -webkit-linear-gradient(top, #b88700 0%, #997a00 50%, #997a00 100%);
background: -o-linear-gradient(top, #b88700 0%, #997a00 50%, #997a00 100%);
background: -ms-linear-gradient(top, #b88700 0%, #997a00 50%, #997a00 100%);
background: linear-gradient(to bottom, #b88700 0%, #997a00 50%, #997a00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b88700', endColorstr='#997a00', GradientType=0 );
}
.color_alert{
background: #b80043;
background: -moz-linear-gradient(top, #b80043 0%, #990000 50%, #990000 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #b80043), color-stop(50%, #990000), color-stop(100%, #990000));
background: -webkit-linear-gradient(top, #b80043 0%, #990000 50%, #990000 100%);
background: -o-linear-gradient(top, #b80043 0%, #990000 50%, #990000 100%);
background: -ms-linear-gradient(top, #b80043 0%, #990000 50%, #990000 100%);
background: linear-gradient(to bottom, #b80043 0%, #990000 50%, #990000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b80043', endColorstr='#990000', GradientType=0 );
}
.mini_grade{
    margin-bottom: 1rem;
    padding: 0.6rem;
    color: #fff;
    -webkit-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.47);
    -moz-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.47);
    box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.47);
}
.screenshots_field{
    padding: 0;
    margin-bottom: 1.25rem;
    margin-top: 3px;
}
.panel_no_margin{
    margin-bottom: 0 !important;
}
.screen_small{
    margin: 3px;
    background-color: #222;
    -webkit-box-shadow: 0px 0px 5px #ccc;
    -moz-box-shadow: 0px 0px 5px #ccc;
    box-shadow: 0px 0px 5px #ccc;
}
.tabs dd > a, .tabs .tab-title > a {
    outline: none;
    display: block;
    color: #eee;
    background-color: #333;
    padding: 1rem 2rem;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1rem;
    -webkit-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.25);
    box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.25);
}
.tabs dd > a:hover, .tabs .tab-title > a:active {
    background-color: #fff;
}
.tabs dd > a:hover, .tabs .tab-title > a:hover {
}
.tabs .tab-title.active a {
    background-color: #ddd;
    color: #333;
}
.tabs dd:first-child a{
    margin: 0 1px 0px 0px;
}
.tabs dd:last-child a{
    margin: 0 0px 0px 1px;
}
.tabs dd a{
    margin: 0 1px;
    padding: 2px;
}
dl.tabs{
    border: solid 1px #222;
}
.tabs-content > .content {
    padding: 0;
}
.screenshots{
    padding: 0;
    border: solid 1px #222;
    background: #222;
    color: #eee;
}
.tabs-content {
    margin-bottom: 0;
    width: 100%;
}
tbody tr:hover {
  background-color: #ddd;
  cursor:pointer;
}
td a {
  display: block;
  color: #000;
}
td a:hover, td a:focus {
  color: #000;
}
td p {
  display: block;
  color: #000;
  padding: 0.5625rem 0.625rem;
  cursor: default;
}
table tr th, table tr td {
  padding: 0;
  font-size: 0.875rem;
  color: #FFFFFF;
  text-align: left;
}
.diff_stat{
  padding-left: 7px;
}
.screenshot_main{
  padding: 0;
  margin-bottom: 0
}
.icon-picker{
  margin-right: 7px;
  display: inline-block;
}
/* ROL*/
.box-green{
  background-color: #98DBB3;
  color: #FFF;
  font-weight: bold;
}
.box-yellow{
  background-color: #d6db98;
  color: #FFF;
  font-weight: bold;
}
.box-red{
  background-color: #db9d98;
  color: #FFF;
  font-weight: bold;
}
.box-green:hover{
  background-color: #ddd;
}
.box-yellow:hover{
  background-color: #ddd;
}
.box-red:hover{
  background-color: #ddd;
}
.maincontainer img {
  display:inline-block;
  margin-right:5px;
}
p {
    font-family: inherit;
    font-weight: normal;
    font-size: 100%;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    text-rendering: optimizelegibility;
}
input[type="search"] {
  box-sizing: border-box !important;
}
td span {
  display: block;
  color: #000;
  padding: 0.5625rem 0.625rem;
}
.icon-list {
  list-style: none;
  margin: 0 0 0 0.5rem;
  overflow: hidden;
  padding: 0;
}
.icon-list > li {
  display: block;
  float: left;
  list-style: none;
}
