<navbar></navbar>


<div class='panel'>
  <div class='row'>

    <div class='large-6 medium-6 columns'>
      <h2>RunOnLinux.com</h2>
      <h3>Web App Version <i>{{ ver }}</i></h3>
      <h4>Hosted on
        <a href='https://www.digitalocean.com/?refcode=a22c22263f47'>
        DigitalOcean
        </a>
      </h4>

    </div>
    <div class='large-6 medium-6 columns'>
      <h2>Founder</h2>
      <h3>Mateusz G</a>.</h3>
      <h5>I am the owner of RunOnLinux, a fan of linux.</h5>
      <p>Want to contact me? Use <b>[Feedback]</b> button in the footer.</p>
    </div>

  </div>
</div>
